:root {
    --color-primary: #864bd4;
    --color-secondary: #f7f4f8f6;
    --color-tertiary: #d7beee;
    --color-button: #4dcf5e;
    --color-button-hover: #8540d4;
    --color-text: #ffffff;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    background: linear-gradient(to left, var(--color-primary), #f327e2); /* Gradiente de laranja */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1.5px solid #000;
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    margin: 0 40px;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(100% - 80px);
}

/* Títulos */
.main-title {
    font-size: 52px;
    font-family: 'Petit Formal Script', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    margin-right: 30px;
}

.section-title {
    font-family: "Montserrat", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 1.9px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Montserrat", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 1.9px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-button);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
    font-size: large;
}

.button-reset {
    background-color: var(--color-tertiary);
    color: #000;
    border-radius: 60px 60px;
    font-size: 20px;
    align-items: center;
    
}

.button-reset:hover {
    background-color: #ee8181;
}

.button-add:hover {
    background-color: #8540d4;
}

/* Listas */
ul {
    list-style-type: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #4dcf5e;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 20px;
    margin-bottom: 18px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}
